{
  "sourceMaps": true,
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["ie >= 11"]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-react-jsx", { "pragma": "h" }],
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
