{
  "sourceMaps": true,
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["ie >= 11"]
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
    ["@babel/plugin-transform-react-jsx", { "pragma": "h" }],
    ["@babel/plugin-transform-modules-commonjs"]
  ]
}
